.mind{
	top:50px;
	left:17%;
	padding: 10px 20px 5px 16px;
	width:65%;
	border-radius: 10px;
	-moz-border-radius: 15px; /* Firefox */
	-webkit-border-radius: 15px; /* Safari and Chrome */
	behavior: url(border-radius.htc); /* учим IE border-radius */
	
	/*землю Ч кресть€нам, фабрики Ч рабочим, а ослам Ч костыль!*/		
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8fce935,endColorstr=#C8fce935);
	zoom: 1;	
	
	font-family:'Casper';
	position:absolute;
	border: 1px solid #fff0ce;
	border-radius: 4px;
}