@font-face { 
 	font-family:'TETRA';
	src: url('TETRA.eot'); 
	src: url('TETRA.eot?#iefix') format('embedded-opentype'), 
         url('TETRA.otf') format('opentype');
   	font-weight: normal;
	font-style: normal;
}

@font-face { 
 	font-family:'Casper';
	src: url('Casper.eot?') format('eot'), 
		 url('Casper.ttf') format('truetype');
   	font-weight: normal;
	font-style: normal;
}


html,body {
   min-width:500px; height:100%;
    margin:0;
    padding:0;
	background: #fc460d;
	min-width:730px;
	min-height:650px;
}
 
.header{
	margin: 0 auto;
	font-size: 45pt;
 	font-family:'TETRA';
}

a {
	font-family:'TETRA';
	text-decoration:none;
	color: #FFF;
}

p{
	margin:10px;
	padding:0;
}

.center {
	display:block; 
	margin:0 auto;
}

.finn{
	display: block;
	margin: -250px auto	0 auto;
}

.mind{
	top:50px;
	left:17%;
	padding: 10px 20px 5px 16px;
	width:65%;
	background: rgba(252,233,53,0.8);

	font-family:'Casper';
	position:absolute;
	border: 1px solid #fff0ce;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/*Slidedhow*/

#slideshow, #slidesContainer {
	margin:0 auto;
	width:670px;
	overflow:auto; /* allow scrollbar */
}
#slideshow, #slidesContainer .slide {
	width:100%;
}

.control {
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none; width:32px;
	height:50px;
	top: 44%;
	text-indent:-10000px;
	position:absolute;
	cursor: pointer;
}
#leftControl {

  left:0;
  background:transparent url(left.png) no-repeat 0 0;
}
#rightControl {
   right:0;
  background:transparent url(right.png) no-repeat 0 0;
}

.slide img {
  float:right;
}